/* Hero section */
.hero-section {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
  }
  
  .profile-picture-container {
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 10%;
    border-top-right-radius: 90%;
    background-origin: padding-box;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 190px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  
  .engineer-info {
    font-size: 2.5rem;
    margin: 20px auto;
  }

  .engineer-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 200px;

  }
  
  .tagline {
    font-size: 1.6rem;
    color: #555;
    text-align: center;
  }
  .detail{
    text-anchor: start;
    align-self: last baseline;
  
  }
  
  @media (max-width: 768px) {
    .engineer-name {
      font-size: 2rem;
    }
    .tagline {
      font-size: 1rem;
    }
  }


  
  
  /* AboutPage.css */
.about-page {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

.profile-section {
  margin-bottom: 10px;
  align-self: start;
}

.profile-image {
  width: 550px;
  height: 450px;
  background-image: url('./../image/profile-picture.JPG');
  background-size: cover;
  
  border-radius: 70%;
  border-color: rgb(4, 245, 164);
  /* margin: 0 auto 15px; */
  overflow: hidden;
  margin: 29px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: baseline;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-image > h1 {
  margin: 10px 0;
  font-size: 30px;
     
}

.bio-section, .skills-section {
  max-width: 600px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}




/* Footer Section Styling */

.footer {
  background-color: #140404;
  padding: 30px 0;
}



.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}




.footer-left p {
  margin: 5px 0;
  color: aqua;
  /* color: #f39c12; */
  text-decoration: none;
}


.footer-center{
  margin: 5px 0;
  color: aqua;
}

.footer-center h4 {
  margin: 0;
  font-size: 18px;
}




.footer-center p {
  margin: 5px 0;
  
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-icons a:hover {
  color: rgb(255, 255, 255);
}


.social-icons li {
  margin-right: 15px;
  
}

.social-icons a {
  font-size: 24px;
  color: aqua;
}


